node_modules
dist
dist-ssr
.DS_Store
*.local
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PWA build artifacts
dev-dist

# Local Netlify folder
.netlify
